body {
	background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

h1 {
	text-align: center;
	font-size: 72px;
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.traffic-light {
	background-color: #333;
	width: 100px;
	height: 300px;
	padding: 20px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

.light {
	width: 70px;
	height: 70px;
	background-color: #555;
	border-radius: 50%;
	margin: 10px;
	transition: all 0.4s ease;
}

.line {
	width: 50px;
	height: 200px;
	background-color: #333;
}

.red.active {
	background-color: red;
}

.yellow.active {
	background-color: yellow;
}

.green.active {
	background-color: green;
}
